<html>
<body>

<b>Commissions Received in the Past 30 Days:   {{data1}}</b>
</br>
<b>Average Commission Per Ticket Booked in the Past 30 Days:   {{data3}}</b>
</br>
<b>Tickets Sold in the Past 30 Days:   {{data2}}</b>
</br>
</br>

<form action="/commissionAuth" method="POST">
    <label for="firstDate">From:</label>
    <input type="date" name = "firstDate" placeholder="First Date" required/></br>

    <label for="secondDate">To:</label>
    <input type="date" name = "secondDate" placeholder="Second Date" required/></br>

    <input type="submit" value = View />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    {% if message =='successful' %}
    </br>
    <b>Commission in this range:   {{get1}}</b>
    </br>
    <b>Tickets Sold:  {{get2}}</b>
    </br>   
    {% endif %}

</form>
<a href="/returnagent">Go back</a>
</body>
</html>