<html>
<head>
</head>
<body>
    <b>Top 3 Destinations:</b>
    <br>
    <FONT COLOR="RED">
    <b>Last 3 Months:</b>
    </FONT>
    <table>
        <th>Destination</th>

    {% for line in posts %}
        <tr>
            <td>{{line['arrival_airport']}}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <FONT COLOR="RED">
    <b>Last Year:</b>
    </FONT>
    <table>
        <th>Destination</th>

    {% for line in post %}
        <tr>
            <td>{{line['arrival_airport']}}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="/returnstaff">Go back</a>
</body>
</html>